#graphCanvas{
    border: 1px solid black;
    float: left;
}

#queueCanvas{
    border: 1px solid black;
    float: left;
    color: #b5f891;
}

#control_area{
    width: 200px;
    border: 1px solid black;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
}

#control_area h3{
    font-family: "Verdana", sans-serif;
    margin-bottom: 5px;
    margin-left: 10px;
}

#statesList{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#statesList li{
    background-color: grey;
    padding: 5px;
    margin: 0px;
    font-family: "Verdana", sans-serif;
    font-size: 12px;
}

#statesList li:hover{
    cursor: hand;
}

#left, #right{
    margin: 0px;
    padding: 0px;
    float: left;
    border: none;
}

#left{
    width: 482px;
}

#right{
    width: 574px;
}

#info{
    width: 480px;
    font-family: "Verdana", sans-serif;
    float: left;
    height: 143px;
    padding: 0px;
    border: 1px solid black;
    margin-bottom: 5px;
}

#info h1{
    margin-left: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65);
}

#info h3{
    margin-left: 10px;
    font-size: 70%;
}

#info h4{
    margin-left: 15px;
    font-size: 90%;
    font-style: italic;
}

#info span{
    font-size: 10px;
}

#generateGraph{
    background-color: rgba(0, 21, 255, 0.64);
    border: 0px;
    outline: 0px;
    width: 180px;
    height: 35px;
    margin: 5%;
    font-weight: bold;
}

#generateGraph:disabled{
    background-color: rgba(0, 0, 0, 0.25);
    text-color: black;
}