#graphCanvas{
    /*width: 500px;*/
    /*height: 250px;*/
    border: 1px solid black;
    float: left;
}

#control_area{
    width: 200px;
    border: 1px solid black;
    float: left;
    margin-left: 10px;
}
#statesList{
    list-style-type: none;
    padding: 0px;

}
#statesList li{
    background-color: grey;
    padding: 10px;
    margin: 0px;


}

#statesList li:hover{
    cursor: hand;
}