#graphCanvas{
    border: 1px solid black;
    float: left;
}

#queueCanvas{
    border: 1px solid black;
    float: left;
}

#control_area{
    width: 200px;
    border: 1px solid black;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;


}
#statesList{
    list-style-type: none;
    padding: 0px;
    margin: 0px;

}
#statesList li{
    background-color: grey;
    padding: 7px;
    margin: 0px;
    font-family: "Verdana", sans-serif;
    font-size: 12px;


}

#statesList li:hover{
    cursor: hand;
}